$color-primary: #009597;
$color-white: #ffffff;
$color-black: #000000;
$color-text: #555555;
$color-text-light: #959595;
$color-text-dark: #000000;
$color-border: #dbe6e9;
$color-link: #25b9d7;
$color-link-hover: #1a8196;
$color-info-bg: #beeaf3;
$color-info-border: #25b9d7;
$color-success-bg: #cbf2d4;
$color-success-border: #53d572;
$color-success-text: green;
$color-warning-bg: #fffbd3;
$color-warning-border: #fab000;
$color-danger-bg: #fbc6c3;
$color-danger-border: #f44336;
$color-toggle-active: #72c279;
$color-toggle-deactive: #b3c7cd;
$color-intro :#64C3C9;
$color-gray-light: #ECECEC;
$color-warning-bg-dark: #ff8c00;
$color-section-header: #363a41;
$color-section-header-bg: #fafbfc;
$color-danger: #FF0000;